/**
 * Variables (_variables.scss)
 */

/* ----- Generic ----- */
$font-family-base: 16px !default;
$font-size-base: 16px !default;
$font-weight-base: normal !default;
$line-height-base: 1.5em !default;
$color-base: #000;

/* ----- Spacing ----- */
$spacing-base: 1.25rem;
